@model CMS.ViewModels.SubjectRelatedData

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subject</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.subj.SubjectId)

        <div class="form-group">
            <label class = "control-label col-md-2">Subject Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subj.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subj.SubjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subject Position</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subj.SubjectPosition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subj.SubjectPosition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subject Visibility</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.subj.SubjectVisible)
                    @Html.ValidationMessageFor(model => model.subj.SubjectVisible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <hr /> 
        <h5>Pages</h5>
        <hr />
            @foreach (var temp in Model.pg)
            {
                <table class="form-group">

                    <tr>
                        <content class="control-label col-md-2"><b>@temp.PageName</b></content>
                        <a href="/Page/Edit?id=@temp.PageId">Edit</a> |
                        <a href="/Page/Details?id=@temp.PageId">Details</a> |
                        <a href="/Page/Delete?id=@temp.PageId">Delete</a>


                    </tr>
                </table>





            }
       



           </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
